.input-box {
  background: rgba(255, 255, 255, 0.644);
  margin: 0px 20px;
}

.header {
  align-items: center;
  padding-top: 10px;
}

h1 {
  font-size: xx-large;
  text-align: center;
  font-weight: 700;
  color: rgb(95, 80, 80);
}

.backgr-box {
  width: 668px;
  max-width: 100%;
  min-height: 580px;
  margin-top: 80px;
}
/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/
